{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="css/addons/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
</head>
<body>
    {% csrf_token %}
    <aside>
        <span class="logo" style="font-size: 6vh;">Силаэдр</span>
        <h3 style="font-weight: 600; font-size: 3.5vh;">Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li style="font-size: 2vh;"><i class="fas fa-home" style="font-weight: 600; font-size: 2vh;"></i> Посещаемость</li></a>
        </ul>
        <span><a href="/admin"><button style="margin-top:58vh; font-weight:600; font-size: 2vh;" type="button" class="btn btn-primary"><i class="fas fa-user-lock"></i> Log in to the admin</button></a></span>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>